.movies {
    display: flex;
    justify-content: space-evenly;
    padding: 0 8%;
    gap: 20px;
    flex-wrap: wrap;
}
.wrap_button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.movies_button {
    width: 200px;
    height: 40px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor:pointer;
    background: red;
    border: rgba(28, 15, 42, 0.38) 1px solid;
    box-shadow: black 1px 1px 10px 1px;
    border-radius: 20px;
}
